html {
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
}

a {
    text-decoration: none;
}

/*Header*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/Без\ имени-1\ копия.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.header-head {
    height: 100px;
    padding-left: 60px;
    padding-right: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header-nav-list {
    display: flex;
}

.header-nav-item:not(:last-child) {
    margin-right: 55px;
}

.header-phone-link {
    font-size: 16.67px;
    line-height: 70px;
    font-weight: bold;
    color: #42200b;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-nav-icon {
    width: 41px;
    height: 33px;
    margin-right: 10px;
}

.header-nav-link {
    font-size: 21px;
    letter-spacing: 3px;
    color: #42200b;
}

.hero {
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 60px;
    padding-top: 130px;
}

.header-hero-discription {
    display: inline;
    width: 394px;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 17px;
    margin-bottom: 25px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #42200b;
    border: 1px dashed #42200b;
}

.header-hero-heading {
    position: relative;
    left: -10px;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    color: #42200b;
    text-shadow: 3px 3px 2px white;
}

.header-hero-heading-last {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    color: #42200b;
    text-shadow: 3px 3px 2px white;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 500px;
    bottom: 50px;
    width: 173px;
    height: 173px;
    background-color: #df1c1c;
    border-radius: 50%;
}

.price-text {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.price-text::first-letter {
    font-size: 40px;
}

.border {
    position: relative;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 145px;
    border: 1px dashed white;
    border-radius: 50%;
}
/*Header*/


/*Tasty*/
.section-tasty {
    padding: 80px 100px 20px 110px;
}

.tasty-contant-img {
    display: flex;
}

.tasty-left-img, 
.tasty-right-img {
    width: 100%;
}

.tasty-left,
.tasty-right {
    position: relative;
    max-width: 50%;
    width: 50%;
}

.tasty-left {
    margin-right: 42px;
    cursor: pointer;
}

.tasty-right-first {
    margin-bottom: 30px;
}

.tasty-right-second {
    font-family: 'Bebas Neue', cursive;
}

.tasty-right-first, 
.tasty-right-second {
    position: relative;
    cursor: pointer;
}

.tasty-left-dicription, 
.tasty-right-dicription, 
.tasty-left-heading, 
.tasty-right-heading {
    position: absolute;
}

.tasty-left-dicription, 
.tasty-right-dicription {
    top: 30px;
    left: 27px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}
 
.tasty-left-heading, 
.tasty-right-heading {
    top: 50px;
    left: 27px;
    font-size: 34px;
    line-height: 32px;
    text-transform: uppercase;
    color: white;
}

.tasty-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.tasty-btn-link {
    padding: 15px 22px;
    color: #42200b;
}

.btn {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 22px;
    width: max-content;
    color: #42200b;
    background-color: #ffc135;
    border: none;
}
/*Tasty*/

/*Choose*/
.section-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 40px 75px;
}

.choose-heading {
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    text-align: center;
    color: #42200b;
}

.choose-heading-discription {
    max-width: 900px;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    color: #42200b;
}

.choose-list {
    width: 100%;
    display: flex;
    margin-top: 65px;
}

.choose-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 33.33%;
}

.choose-item-heading {
    font-size: 37.5px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #42200b;
}

.choose-item-discription {
    font-size: 16.67px;
    line-height: 20.83px;
    text-align: center;
    margin-top: 10px;
}

.choose-item-btn {
    font-size: 16.67px;
    line-height: 37.5px;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    border: none;
    background-color: #df1c1c;
    margin-top: 35px;
    padding: 11px 32px;
    color: white;
}
/*Choose*/

/*Card*/
.section-card {
    padding: 55px 75px;
}

.card-contant {
    display: flex;
    padding: 25px 26px 25px 54px;
    box-shadow: 0 0 30px #c7c6c6;
}

.card-contant-left {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card-left-header-head {
    font-size: 29px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 39px;
    color: #3b3b3b;
}

.card-left-heading {
    font-size: 34px;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    color: #42200b;
}

.card-left-discription {
    font-size: 20.83px;
    line-height: 33.33px;
    margin-top: 35px;
    color: #3b3b3b;
}

.card-contant-right {
    margin-left: 20px;
}
/*Card*/


/*Form*/
.section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 250px;
}

.form-header-head {
    font-size: 29px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #42200b;
}

.form-heading {
    margin-top: 25px;
    font-size: 50px;
    line-height: 1;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    color: #42200b;
}

.form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

.form input {
    flex: 0 0 42.5%;
    font-size: 18px;
    padding: 24px 22px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    color: black;
    margin-bottom: 27px;
}

.form input:nth-child(2n+1) {
    margin-right: 27px;
}

.form input::placeholder {
    font-size: 16px;
    font-weight: bold;
    color: #3a3a3a;
}

.form button {
    width: 100%;
    flex: 0 0 45.8%;
    position: relative;
    top: -15px;
    padding: 24px 22px;
    font-size: 20.83px;
    line-height: 1;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    color: white;
    background-color: #df1c1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*Form*/


/*Footer*/
.footer {
    padding-top: 75px;
}

.footer-contant {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/Place\ Your\ Design\ Here\ \(Double\ Click\ to\ Edit\).jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    padding: 84px 30px 22px 43px;
}

.footer-discription {
    margin-top: 35px;
    max-width: 510px;
    font-size: 16.67px;
    line-height: 25px;
    color: white;
}

.footer-info {
    margin-top: 125px;
    margin-bottom: 5px;
    font-size: 16.67px;
    line-height: 1;
    color: white;
}

.footer-right {
    margin-top: 120px;
    margin-right: 95px;
}

.footer-addres {
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    color: white;
    margin-bottom: 30px;
}

.footer-email-link {
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    color: white;
}

.footer-addres, 
.footer-email-link {
    display: flex;
    align-items: center;
}

.footer-email-icon, 
.footer-addres-icon {
    margin-right: 15px;
}

.footer-social-list {
    position: relative;
    top: 350px;
    display: flex;
}

.footer-social-item:not(:last-child) {
    margin-right: 12px;
}
/*Footer*/


@media (max-width: 1300px) {
    .card-left-heading {
        font-size: 28px;
    }
    .card-left-header-head {
        margin-top: 20px;
    }

    .card-left-discription {
        margin-top: 20px;
        font-size: 18px;

    }

    .card-contant {
        align-items: center;
    }

    .card-contant-left {
        width: 50%;
    }

    .card-contant-right {
        width: 50%;
        height: 100%;
    }

    .card-contant-right img {
        width: 100%;
        height: 100%;
    }


    .section-form {
        padding: 70px 150px;
    }

    .form {
        margin-top: 60px !important;
        margin: -5px;
    }

    .form input, .form button {
        flex: 0 0 40%;
        margin: 5px;
    }

    .form button {
        width: 100%;
        flex: 0 0 45.8%;
        top: 0px;
    }
}


@media (max-width: 400px) {
    header {
        background-position: top center;
        height: 300px;
        background-size: 100% 300px;
    }
    .header-head {
        padding: 0 15px;
        height: 60px;
    }

    .header-nav-icon {
        width: 30px;
        height: 25px;
        margin: 0;
    }

    .logo {
        width: 131px;
        height: 29px;
    }

    .nav {
        flex-direction: row;
    }

    .header-nav-list {
        display: none;
    }

    .phone {
        width: 100%;
    }

    .phone-text {
        width: 50%;
    }

    .header-phone-link {
        line-height: 1;
        font-size: 11px;
    }

    .header-head-logo-img {
        width: 100%;
        height: 100%;
    }
    .hero {
        padding: 30px 15px;
    }
    .header-hero-heading {
        font-size: 30px;
        left: 0;
    }

    .header-hero-heading-last {
        font-size: 24px;
    }

    .header-hero-discription {
        width: 45%;
        font-size: 12px;
        letter-spacing: .5px;
        padding: 8px 8px;
        margin-bottom: 10px;
    }

    .section-tasty {
        padding: 40px 15px;
    }

    .tasty-left {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .tasty-left, .tasty-right {
        max-width: 100%;
        width: 100%;
        height: 200px;
    }

    .tasty-right-first, .tasty-right-second, .tasty-left {
        height: 180px;
    }

    .tasty-right-img, .tasty-left-img {
        height: 100%;
    }

    .tasty-left-dicription, .tasty-right-dicription {
        top: 20px;
        left: 20px;
        font-size: 20px;
    }

    .tasty-left-heading, .tasty-right-heading {
        top: 40px;
        left: 20px;
        font-size: 26px;
    }

    .tasty-contant-img {
        flex-direction: column;    
    }

    .section-choose {
        padding: 70px 15px 30px;
    }

    .choose-heading {
        font-size: 36px;
    }

    .choose-heading-discription {
        margin-top: 20px;
    }

    .choose-list {
        flex-direction: column;
        margin-top: 30px;
    }

    .choose-item {
        margin-bottom: 30px;
    }

    .choose-item-img {
        width: 270px;
    }

    .choose-item-btn {
        margin-top: 15px;
        padding: 5px 20px;
    }

    .section-form {
        padding: 50px 15px;
    }

    .section-card {
        padding: 50px 15px;
    }

    .card-contant {
        padding: 25px;
    }

    .card-contant-left {
        width: 100%;
    }

    .card-contant-right {
        display: none;
    }

    .card-left-discription {
        font-size: 16px;
    }

    .form-heading {
        font-size: 36px;
    }

    .form {
        width: 100%;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 30px !important;
    }

    .form-heading {
        text-align: center;
    }

    .form input:nth-child(2n+1) {
        margin: 0;
    }

    .form input, .form button {
        margin: 10px 0 !important;
        width: 80%;
        font-size: 14px;
        padding: 14px 15px;
    }

    .form input::placeholder {
        font-size: 14px;
    }

    .form button {
        width: 94% !important;
    }

    .footer {
        padding: 0;
    }

    .footer-contant {
        padding: 20px;
        align-items: center;
        background-size: 100% 100%;
    }

    .footer-left {
        display: none;
    }

    .footer-right {
        margin: 20px 20px 20px 0;
    }

    .footer-social-list {
        top: 0;
        flex-wrap: wrap;
        width: 100px;
    }

    .footer-social-item {
        margin: 7px !important;
    }

    .footer-email-icon {
        width: 25px;
        height: 20px;
    }

    .footer-addres-icon {
        width: 23px;
        height: 28px;
        margin-right: 12px;
    }

    .footer-addres, .footer-email-link {
        font-size: 14px;
    }
        }
